*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/vcs.xml
/.idea/misc.xml
gradle.properties

# Archivos de la aplicacion creados.
*.apk
*.ap_
# Archivos DEX de la VM
*.dex
# Clases generadas Java
*.class
# Archivos generados
bin/
out/
gen/
# Archivos generados automaticamente por el IDE.
build.xml
ant.properties
project.properties
# Archivos de IDEA.
*.ipr
*.iws
